@{
    var products = ViewBag.Products;
}
<h1>Product List</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in products)
        {
            <tr>
                <td>@product.Id</td>
                <td><a href="/Home/Detail/@product.Id">@product.Name</a></td>
                <td style="color: @(product.Price < 10 ? "red" : "green")">@product.Price</td>
            </tr>
        }
    </tbody>
</table>
